* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background: #09090b;
    color: white;
    min-height: 100vh;
}

.app {
    padding: 20px;
    padding-bottom: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.topbar h1 {
    font-size: 30px;
    font-weight: 700;
}

.topbar p {
    color: #71717a;
    margin-top: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    background: linear-gradient(135deg, #3b82f6, #06b6d4);
}

.server-card {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 28px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(59,130,246,0.1);
    margin-bottom: 20px;
}

.server-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.server-header h2 {
    font-size: 24px;
}

.server-header span {
    color: #71717a;
}

.status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.online {
    background: #22c55e;
    box-shadow: 0 0 15px #22c55e;
}

.metrics {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.metric span {
    color: #a1a1aa;
}

.metric h3 {
    margin: 8px 0;
    font-size: 24px;
}

.progress {
    width: 100%;
    height: 10px;
    background: #18181b;
    border-radius: 999px;
    overflow: hidden;
}

.fill {
    height: 100%;
    border-radius: 999px;
}

.cpu {
    width: 43%;
    background: linear-gradient(90deg, #3b82f6, #06b6d4);
}

.ram {
    width: 68%;
    background: linear-gradient(90deg, #8b5cf6, #ec4899);
}

.disk {
    width: 21%;
    background: linear-gradient(90deg, #22c55e, #14b8a6);
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.small-card {
    background: rgba(255,255,255,0.04);
    border-radius: 22px;
    padding: 18px;
    border: 1px solid rgba(255,255,255,0.05);
}

.small-card span {
    color: #71717a;
}

.small-card h2 {
    margin-top: 12px;
    font-size: 28px;
}

.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;

    background: rgba(24,24,27,0.9);
    border: 1px solid rgba(255,255,255,0.05);

    border-radius: 24px;

    display: flex;
    justify-content: space-around;
    padding: 16px;

    backdrop-filter: blur(20px);
}

.nav-item {
    color: #71717a;
    font-size: 22px;
}

.nav-item.active {
    color: white;
}